* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   text-align: center;
   background-color: #392620;
}

h1 {
   color: #985c41;
   padding: 30px;
}

main {
   max-width: 70em;
   height: 30em;
   margin: auto;
   margin-top: 3em;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #3c2921;
}

.container {
   width: 350px;
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   border-radius: 20px;
   background-color: #985c41;
}

.container input {
   width: 250px;
   height: 40px;
   padding-left: 10px;
   border: none;
   border-radius: 10px;
   outline: none;
   box-shadow: 0px 0px 5px 2px #b3765a;
}

#button {
   width: 150px;
   color: grey;
   padding: 0px;
}

table {
   width: 500px;
   height: 300px;
   border-radius: 20px;
   background-color: black;
   overflow: hidden;
}

th, td {
   background-color: white;
}

thead tr {
   height: 5em;
}